# Rename this file to .env.local and fill in your keys
ANTHROPIC_API_KEY=
NEXT_PUBLIC_ABSTRACT_TESTNET_RPC=https://rpc.testnet.abstract.xyz
NEXT_PUBLIC_ABSTRACT_TESTNET_CHAIN_ID=84531
NEXT_PUBLIC_USDC_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_PAYMENT_RECEIVER=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_PRIVY_APP_ID=cmq0yf8yi003n0cl82yux6e3y
NEXT_PUBLIC_MAGIC_PUBLISHABLE_KEY=pk_live_C69F5A855A1B1DE7